body {
    text-align: center;
    background-color:whitesmoke;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
    width: 100%;
}

#banner{
    font-size: 60px;
    margin-bottom: 40px;
}
#clock {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFD000;
    font-size: 100px;
    font-family: 'Righteous';
    box-shadow: 1px 1px 30px black;
    border-radius: 8px;
    padding: 40px;
}

#time, #date {
    padding: 5px;
}

/* Media Queries*/
@media only screen and (max-width: 680px) {
    #clock {
        width: 350px;
        height: 200px;
        font-size: 60px;
    }
}

@media only screen and (max-width: 460px) {
    #clock {
        width: 300px;
        height: 160px;
        font-size: 45px;
    }
}

@media only screen and (max-width: 400px) {
    #clock {
        width: 260px;
        height: 140px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 360px) {
    #clock {
        width: 200px;
        height: 100px;
        font-size: 30px;
    }
}